{% extends "base.html" %}

{% block title %}main{% endblock %}

{% block content %}
    <div id="app">
    <div class="alert alert-warning" role="alert">
      <h2>Mind Map...</h2>
    </div>
    <div class="container">
      <div class="row">
        {% for item in item_list %}
        <div class="col-md-3 card" style="width: 18rem; margin:5px;">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.content }}</p>
            <button type="button" class="btn btn-outline-info" style="margin-left:80%;">Info</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 入力フォーム -->
    <div class="container">
        <form action="/post" method="post">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
              </div>
              <input type="text" class="form-control" name="title" aria-label="Title" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">content</span>
              </div>
              <textarea class="form-control" name="content" aria-label="With textarea"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-info">submit</button>
        </form>
    </div>
  </div>
{% endblock %}
